<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="js/vue.js"></script>
    <style>
      *{margin: 0;padding: 0;list-style: none;}
      .height0{
        height: 0;
        overflow: hidden;
      }
      /* .show{
        height: auto;
        
      } */
    </style>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="item in list" :key="item.id">
          <h3 @click="changeIndex(item.id)">{{ item.title }}</h3>
          <dl :class="{'height0': showIndex === item.id?false:true}">
            <dd v-for="list in item.list" :key="list.id">
              <a :href="list.router">{{ list.name }}</a>
              <!-- <router-link :to="list.router">{{ list.name }}</router-link> -->
            </dd>
          </dl>
        </li>
      </ul>
    </div>
  </body>
  <script>
    var Vue = new Vue({
      el: '#app',
      data () {
        return {
          showIndex: '',
          list: [
            {id: 1, title: '项目任务', icon: '', list: [
              {id: 1, name: '批量新建订单', router: '/projectNew'},
              {id: 2, name: '项目列表', router: '/projectNew1'},
              {id: 3, name: '任务列表', router: '/projectNew2'},
              {id: 4, name: '订单列表', router: '/projectNew3'}
            ]},
            {id: 2, title: '资金发票', icon: '', list: [
              {id: 5, name: '专属账户', router: '/projectNew4'},
              {id: 6, name: '账户余额', router: '/projectNew5'},
              {id: 7, name: '发票申请记录', router: '/projectNew6'},
              {id: 8, name: '发票收件地址', router: '/projectNew7'}
            ]},
            {id: 3, title: '企业管理', icon: '', list: [
              {id: 9, name: '企业信息资料', router: '/projectNew8'}
            ]}
          ]
        }
      },
      methods: {
        changeIndex (id) {
          // 如果点击的是同一个元素,则让showIndex为 空 默认关闭
          if(this.showIndex == id) return this.showIndex = ''
          this.showIndex = id
        }
      }
    })
  </script>
</html>